{:source-paths 
 ["src"]
 
 :builds
 {:dev
  {:target :node-script
   :output-to "out/main.js"
   :main mal.main/-main}

  :step0
  {:target :node-script
   :output-to "out/step0_repl.js"
   :main mal.step0-repl/-main}

  :step1
  {:target :node-script
   :output-to "out/step1_read_print.js"
   :main mal.step1-read-print/-main}}}
